// NAVBAR
$navbar-bg--color_light: #f7f7f7;
$navbar-bg--color_dark: #2b2b2b;
$navbar-border--color: rgba(107, 107, 107, 0.102);
$navbar-text--color: #7c7c7c;

// LIGHT / DARK TOGGLE
$toggle-bg--color_light: #dfdfdf;
$toggle-bg--color_dark: #494949;
$toggle-bg-border--color_light: #bbbbbb;
$toggle-bg-border--color_dark: #474747;
$toggle-btn--color_light: #ffffff;
$toggle-btn--color_dark: #2c2c2c;

// BODY
$bg--color_light: #ffffff;
$bg--color_dark: #222222;
$text--color_light: #cacaca;
$text--color_dark: #242424;
$heading--color_light: rgb(228, 228, 228);

// FOOTER
$footer-bg--color: #2b2b2b;
$footer-text--color: #9c9c9c;