* {
	margin: 0;
	padding: 0;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  background: white;
	color: rgb(36, 36, 36);
	line-height: 1.6;
  height: 100vh;
  transition: all ease-in-out 0.3s;
}

.container {
  height: 100vh;

	/*Option 1 CSS Smooth Scroll*/
	/* overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory; */
}

.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	height: 60px;
	background: rgb(247, 247, 247);
  border-bottom: rgba(107, 107, 107, 0.1) solid 2px;
  transition: all ease-in-out 0.3s;
}

.navbar ul {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
}

.navbar ul li {
	margin: 0 1rem;
	padding: 1rem;
}

.navbar ul li a {
	text-decoration: none;
	letter-spacing: 2px;
	color: rgb(124, 124, 124);
	font-weight: 500;
	font-size: 1.2em;
	transition-duration: 500ms;
}

.navbar ul li a:hover {
	color: #000;
}

.navbar ul li a:active {
  color: #000;
}

.toggle input[type='checkbox'] {
    display: none;
}

.toggle label {
  background-color: rgb(223, 223, 223);
  border: 2px solid rgb(187, 187, 187);
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 50px;
  height: 20px;
  margin: 18px 15px 5px -70px;
}

.toggle label::after {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  content: ' ';
  cursor: pointer;
  display: inline-block;
  position: absolute;
  /* left: -1px; */
  /* top: -.5px; */
  transition: all ease-in-out 0.3s;
  width: 20px;
  height: 20px;
}

.toggle input[type='checkbox']:checked ~ label {
  background-color: #505050;
  border-color: #686868;
}

.toggle input[type='checkbox']:checked ~ label::after {
  background-color: #8f8f8f;
  transform: translateX(30px);
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 900px;
	margin: 0 auto;
	height: 100vh;
	scroll-snap-align: center;
}

section h1 {
	font-size: 3.5rem;
	color: #2f2f2f;
  letter-spacing: 3px;
  transition: all ease-in-out 0.3s;
}

/* section p {
	font-size: 1.3rem;
} */

.image {
	margin: 20px;
	width: 60%;
	border-radius: 10px;
}

#home p {
	margin: 20px 0 30px 0;
	font-size: 16px;
}

#logo {
  transition: all ease-in-out 0.3s;
  width: 300px;
  margin-top: 40px;
}

#discog h1 {
  margin-top: 30px;
  margin-bottom: 16px;
}

#discog ul {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
/* 	justify-content: center; */
}

#discog ul ol {
	font-size: 16px;
	padding-right: 60px;
	padding-left: 60px;
}

#discog ul ol li {
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}

#discog ul ol img {
	width: 200px;
	padding: 20px 0 0 0;
}

#bio {
	width: 100%;
	display: flex;
}

#bio h1 {
  margin-bottom: 16px;
}

#bio p {
	margin: 40px;
	font-size: 16px;
}

#bio ul {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

#bio ul li {
	list-style: none;
	padding: 0 40px 0 40px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#bio ul li img {
	padding: 30px 0 0 0;
	display: flex;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.footer {
	bottom: 0;
	margin-bottom: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	height: 60px;
  /* background: rgb(109, 109, 109); */
  /* background: rgb(34, 34, 34); */
  background-color: rgb(43, 43, 43);
  border-top: rgba(107, 107, 107, 0.1) solid 2px;
	justify-content: left;
	align-items: center;
}

.footer ul {
	display: flex;
	left: 0;
	list-style: none;
	width: 100%;
	align-items: center;
}

.footer ul li {
	margin: 0 0 0 1rem;
	padding: 1rem;
}

.footer ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #9c9c9c;
}

.footer ul li a:hover {
	color: lightgrey;
}

.footer a {
  text-decoration: none;
	font-size: 0.8em;
	color: #979797;
	/* margin-right: 4px; */
	width: 10%;
}

.footer a:hover {
  color: lightgrey;
}

/* DARK THEME */

body.dark-theme {
	background: rgb(34, 34, 34);
  /* color: rgb(228, 228, 228); */
  color: rgb(202, 202, 202);
}

body.dark-theme h1 {
  color: rgb(228, 228, 228);
}

body.dark-theme #logo {
  filter: invert(100%);
}

body.dark-theme .navbar {
  /* background-color: #333; */
  background-color: rgb(43, 43, 43);
}

body.dark-theme .navbar ul li a:hover {
  color: rgb(228, 228, 228);
}


@media only screen and (max-width: 450px) {
	.navbar {
		height: 180px;
	}

	.navbar ul {
		flex-direction: column;
		align-items: center;
	}

	.navbar ul li a {
		font-weight: 600;
		font-size: 1em;
	}
}