* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #242424;
  line-height: 1.6;
  height: 100vh;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.container {
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  background: #f7f7f7;
  border-bottom: rgba(107, 107, 107, 0.102) solid 2px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #7c7c7c;
  font-weight: 500;
  font-size: 1.2em;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.navbar ul li a:hover {
  color: #000;
}

.navbar ul li a:active {
  color: #000;
}

.toggle label {
  background-color: #dfdfdf;
  border: 2px solid #bbbbbb;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  width: 50px;
  height: 20px;
  margin: 18px 15px 5px -70px;
}

.toggle label::after {
  background-color: #ffffff;
  border-radius: 50%;
  content: ' ';
  cursor: pointer;
  display: inline-block;
  position: absolute;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  width: 20px;
  height: 20px;
}

.toggle input[type='checkbox'] {
  display: none;
}

.toggle input[type='checkbox']:checked ~ label {
  background-color: #494949;
  border-color: #474747;
}

.toggle input[type='checkbox']:checked ~ label::after {
  background-color: #2c2c2c;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  height: 100vh;
  scroll-snap-align: center;
  line-height: 30px;
}

section h1 {
  font-size: 3.5rem;
  letter-spacing: 3px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#logo {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  width: 400px;
  margin: 0 0 20px 0;
}

.band-image {
  margin: 0;
  width: 48%;
  border-radius: 10px;
}

#home {
  max-width: 100vw;
}

#home div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* TODO stuffed up sorta */
}

#home div p {
  margin: 20px 0 30px 60px;
  font-size: 16px;
  text-align: left;
}

#discog {
  max-width: 100vw;
}

#discog h1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

#discog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#discog ul ol {
  font-size: 16px;
  padding-right: 60px;
  padding-left: 60px;
}

#discog ul ol li {
  list-style-position: inside;
  font-size: 12px;
}

#discog ul ol img {
  width: 200px;
  padding: 20px 0 20px 0;
}

#bio {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bio h1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

#bio p {
  margin: 40px;
  font-size: 16px;
}

#bio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#bio ul li {
  list-style: none;
  margin: 0 40px 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#bio ul li img {
  padding: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.footer {
  bottom: 0;
  margin-bottom: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: #2b2b2b;
  border-top: rgba(107, 107, 107, 0.1) solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul {
  list-style: none;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer ul li {
  margin: 0 0 0 1rem;
  padding: 1rem;
}

.footer ul li a {
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  color: #9c9c9c;
}

.footer ul li a:hover {
  color: lightgrey;
}

body.dark-theme {
  background: #222222;
  color: #cacaca;
}

body.dark-theme h1 {
  color: #e4e4e4;
}

body.dark-theme #logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

body.dark-theme .navbar {
  background-color: #2b2b2b;
}

body.dark-theme .navbar ul li a:hover {
  color: #e4e4e4;
}

@media only screen and (max-width: 1280px) {
  section h1 {
    font-size: 2.5rem;
    margin-bottom: 40px !important;
  }
  #logo {
    max-width: 300px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .band-image {
    max-width: 40%;
  }
  #home div p {
    width: 40%;
  }
  ul ol img {
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #bio ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #bio ul li {
    margin: 0 20px 60px 20px;
  }
  #bio ul li img {
    max-width: 150px;
  }
  .footer a {
    width: 14%;
  }
}

@media only screen and (max-width: 960px) {
  section {
    line-height: 24px;
  }
  section h1 {
    margin-bottom: 60px !important;
  }
  #home div p {
    font-size: 14px;
    margin-left: 30px;
    width: 40%;
  }
  #logo {
    margin: 0;
  }
  #home,
  #discog,
  #bio {
    width: 80%;
  }
  #bio {
    height: 190vh;
  }
  #bio ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 880px) {
  section {
    padding: 80px 0 0 0;
    height: auto;
  }
  #home div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home div p {
    width: 70%;
    margin: 30px 0 30px 0;
  }
  .band-image {
    max-width: 80%;
    margin: 0;
  }
  #logo {
    margin: 0;
  }
  #home,
  #discog,
  #bio {
    width: 60%;
  }
  #discog ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #discog ul ol {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 450px) {
  .navbar ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar ul li {
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 0;
  }
  .navbar ul li a {
    font-size: 1.05em;
    letter-spacing: 0;
  }
  .band-image {
    width: 100%;
  }
  #home div p {
    width: 100%;
  }
  #home,
  #discog,
  #bio {
    width: 80%;
  }
  .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
