/* @media (min-width: 400px) {
  .navbar {
  height: 60px;
	}

	.navbar ul {
		flex-direction: row;
		align-items: center;
	}

	.navbar ul li a {
    font-size: 1.2em;
  }

  #bio ul li {
    margin-bottom: 20px;
  }

  .footer {
    justify-content: center;
  }
} */

/* @media only screen and (max-width: 1220px) {
  section h1 {
    font-size: 2.5rem;
    margin-bottom: 0 !important;
  }
  
  #logo {
    max-width: 300px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .band-image {
    max-width: 50%;
  }

  #discog ul ol img {
    width: 150px;
  }

  #discog ul ol li {
	  text-align: center;
	  font-size: 12px;
	  padding-top: 5px;
  }
  
  #bio ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  #bio ul li {
    margin: 0 20px 0 20px;
  }

  #bio ul li img {
    max-width: 150px;
  }
}

@media only screen and (max-width: 960px) {
  section ul {
    margin-top: 10px;
  }
  
  #home div p {
    font-size: 14px;
    margin-left: 20px;
    width: 50%;
  }

  #logo {
    margin-bottom: 0;
  }

  .band-image {
    width: 48%;
    margin-left: 20px;
  }

  #discog ul ol img {
	padding: 10px 0 0 0;
}
}

@media only screen and (max-width: 880px) {
  section {
    padding: 60px 0 0 0;
    height: auto;
  }
  
  #home div {
    align-items: center;
    flex-direction: column;
  }

  #home div p {
    width: 70%;
    margin: 30px 0 30px 0;
  }
  
  .band-image {
    max-width: 80%;
    margin: 0;
  }

  #logo {
    margin: 0;
  }

  #home,
  #discog {
    width: 60%;
  }

  #discog ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #discog ul ol {
    margin-bottom: 40px;
  }

  #discog h1 {
    margin-top: 0;
  }
  
  #bio h1 {
    margin-top: 0;
  }
}

@media only screen and (max-width: 450px) {
	.navbar {
    height: 180px;
	}

	.navbar ul {
		flex-direction: column;
		align-items: center;
	}

	.navbar ul li a {
		font-weight: 600;
		font-size: 1em;
  }

  section {
  }

  #bio ul li {
    margin-bottom: 20px;
  }

  .footer {
    justify-content: center;
  }
} */